LANG=C.UTF-8
LC_ALL=C.UTF-8

SECRET_KEY=Secret

POSTGRES_DB=DB
POSTGRES_USER=USER
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=XXXpasswordXXX

SBI_STEEM_OPS_DB=sbi_steem_ops
SBI_DB_NAME=DB
SBI_DB_USER=USER
SBI_DB_PASSWORD=XXXpasswordXXX
SBI_DB_HOST=host-ip
SBI_DB_PORT=port


HIVESQL_DB_NAME=DB
HIVESQL_USER=USER
HIVESQL_PASSWORD=XXXpasswordXXX
HIVESQL_HOST=host
HIVESQL_PORT=1433