version: "3.7"
services:
  app:
    image: hive_sbi_api:0.1.0
    build:
      args:
        - DJANGO_ENV=prod
    expose:
      - "8009"
    command: ["sh", "/app/boot_scripts/app.sh"]

  redis:
    volumes:
      - redis-data:/data

  worker:
    image: hive_sbi_api:0.1.0
    environment:
      - DJANGO_SETTINGS_MODULE=hive_sbi_api.settings.prod
    build:
      args:
        - DJANGO_ENV=prod
    env_file:
      - ../.env

  beat:
    image: hive_sbi_api:0.1.0
    environment:
      - DJANGO_SETTINGS_MODULE=hive_sbi_api.settings.prod
    build:
      args:
        - DJANGO_ENV=prod
    env_file:
      - ../.env

volumes:
  db-data:
  redis-data:
