version: "3.7"
services:
  app:
    build:
      context: ../app
    networks:
      - sbi-bridge

  redis:
    image: redis:5.0.0-alpine
    networks:
      - sbi-bridge

  worker:
    image: hive_sbi_api:0.1.0
    build:
      context: ../app
#    volumes:
#      - ../app:/app
    depends_on:
      - app
      - redis
    command: ["sh", "/app/boot_scripts/worker.sh"]
    networks:
      - sbi-bridge

  beat:
    image: hive_sbi_api:0.1.0
    build:
      context: ../app
#    volumes:
#      - ../app:/app
    depends_on:
      - worker
    command: ["sh", "/app/boot_scripts/beat.sh"]
    networks:
      - sbi-bridge

networks:
  sbi-bridge:
    external: True
